<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="/assets/styles.css">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
</head>
<body>
    <h1>My Todo App</h1>

    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new Item">
            <button type="submit">Add Item</button>

            <ul>
                <% for(var i=0; i < todos.length; i++){ %>
                    <li><%= todos[i].item %></li>
                <% } %>
            </ul>
        </form>
    </div>

</body>
</html>